<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hy.chatlibrary">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CALL_PRIVILEGED"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />

    <application>
        <activity
            android:name=".page.ChatActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:name=".page.InstructEditActivity" />
        <activity android:name=".page.InstructModelActivity" />
        <activity android:name=".page.InstructModelEditActivity" />
        <activity android:name=".page.InstructAcceptorActivity" />
        <activity
            android:name=".page.ChatGroupDetailActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".page.ChatPersonalActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".page.ChatGroupHistoryActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".page.ChatFriendListActivity"
            android:launchMode="singleTask" />
        <activity
            android:name="page.InstructManager"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Anim_slide" />
        <!--        android:windowSoftInputMode="stateHidden|adjustResize"-->

        <provider
            android:name=".widget.ChatProvider"
            android:authorities="${applicationId}.ChatProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>

        <!--        <meta-data-->
        <!--            android:name="utils.MyGlideModule"-->
        <!--            android:value="GlideModule" />-->
        <service android:name=".service.ChatService" />
    </application>
</manifest>
